body {
    background-color: #1a1a1a;
    color: white;
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0; 
    padding: 0;
    width: 100px;
    display: flex;

    }
nav ul li {
    list-style-type: none;
    margin-left: 20px;
    font-size: 25px;
    }

nav ul li a {
    display: block;
    text-decoration: none;
    color: #fff;
    background-color: rgb(255, 222, 33);
    padding: 5px;
    margin-bottom: 1px;
    }

nav ul li a:hover{
    background-color: rgb(129, 129, 129);
    }
#inicio {
    margin-left: 20px;
}
.titulo {
    text-align: center;
    font-size: 50px;
}

.texto-intro{
    font-size: 18px;
}

.linha-sepa1 {
    width: 100%;
    height: 1px;
    background-color: rgb(255, 222, 33);
    margin: 30px auto;
}

#temperatura {
    margin-left: 20px;
}

.quadro-temperatura {
    background-color: #292929;
    width: 100%;
    max-width: 250px;
    height: 300px;
    padding: 25px;
    margin-left: 75px;
    border: 2px solid rgb(255, 222, 33);
    border-radius: 8px;
}

.insira-temperatura {
    font-size: 30px;
    display: block;
    margin-bottom: 5px;
}
.input-temperatura {
    width:225px;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: textfield;

    background-color: #1a1a1a;
    color: #fff;
    border: 1px solid rgb(255, 222, 33);
    height: 35px;
    padding: 15px 15px;
    box-sizing: border-box;
    border-radius: 5px;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.input-temperatura::-webkit-inner-spin-button,
.input-temperatura::-webkit-outer-spin-button {
    display: none;
}

.label-temperatura {
    font-size: 25px;
    display: flex;
    gap: 75px;
    margin-top: 25px;
}

.select-temperatura {
    font-size: 30px;
    display: flex;
    gap: 10px;
}

.temperatura-origem {
    background-color: #1a1a1a;
    color: #fff;
    border: 1px solid rgb(255, 222, 33);
    height: 40px;
    padding: 6px 10px;
    box-sizing: border-box;
    border-radius: 5px;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.temperatura-destino {
    background-color: #1a1a1a;
    color: #fff;
    border: 1px solid rgb(255, 222, 33);
    height: 40px;
    padding: 6px 10px;
    box-sizing: border-box;
        border-radius: 5px;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}


.botaoconverter {
    display: block;
    background-color: rgb(255, 222, 33);
    color: rgb(255, 255, 255);
    padding: 13px 30px;
    font-size: 15px;
    margin: auto;
    margin-top: 40px;
    border: none;
    border-radius: 8px;

}

.botaoconverter:hover{

    background-color:rgb(129, 129, 129);
}

.resultado-temperatura {
    margin-top: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: center;

}

#resultado {
    font-size: 25px;
    margin: 0;
}
#simbolo-resultado {
    position: relative;
    top: -10px;
}

.linha-sepa2 {
    width: 100%;
    height: 1px;
    background-color: rgb(255, 222, 33);
    margin: 30px auto;
    margin-bottom: 10px;
}



#medidas {
    margin-left: 20px;
}

.quadro-medida {
    background-color: #292929;
    width: 100%;
    max-width: 250px;
    height: 300px;
    padding: 25px;
    margin-left: 75px;
    border: 2px solid rgb(255, 222, 33);
    border-radius: 8px;
}

.insira-medida {
    font-size: 30px;
    display: block;
    margin-bottom: 5px;
}
.input-medida {
    width:225px;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: textfield;

    background-color: #1a1a1a;
    color: #fff;
    border: 1px solid rgb(255, 222, 33);
    height: 35px;
    padding: 15px 15px;
    box-sizing: border-box;
    border-radius: 5px;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.input-medida::-webkit-inner-spin-button,
.input-medida::-webkit-outer-spin-button {
    display: none;
}

.label-medida {
    font-size: 25px;
    display: flex;
    gap: 100px;
    margin-top: 25px;
}

.select-medida {
    font-size: 30px;
    display: flex;
    gap: 10px;
}

.medida-origem {
    background-color: #1a1a1a;
    color: #fff;
    border: 1px solid rgb(255, 222, 33);
    height: 40px;
    padding: 6px 10px;
    box-sizing: border-box;
    border-radius: 5px;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.medida-destino {
    background-color: #1a1a1a;
    color: #fff;
    border: 1px solid rgb(255, 222, 33);
    height: 40px;
    padding: 6px 10px;
    box-sizing: border-box;
        border-radius: 5px;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}


.botaoconverter1 {
    display: block;
    background-color: rgb(255, 222, 33);
    color: rgb(255, 255, 255);
    padding: 13px 30px;
    font-size: 15px;
    margin: auto;
    margin-top: 40px;
    border: none;
    border-radius: 8px;

}

.botaoconverter1:hover{

    background-color:rgb(129, 129, 129);
}

.divesultado-medida {
    margin-top: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#resultado-medida {
    font-size: 25px;
    margin: 0;
}
#simbolo-resultado-medida {
    position: relative;
    top: -10px;
}

.linha-sepa3 {
    width: 100%;
    height: 1px;
    background-color: rgb(255, 222, 33);
    margin: 50px auto;
    margin-bottom: 10px;
}


#massas {
    margin-left: 20px;
}
.quadro-massa {
    background-color: #292929;
    width: 100%;
    max-width: 250px;
    height: 300px;
    padding: 25px;
    margin-left: 75px;
    border: 2px solid rgb(255, 222, 33);
    border-radius: 8px;
}

.insira-massa {
    font-size: 30px;
    display: block;
    margin-bottom: 5px;
}
.input-massa {
    width:225px;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: textfield;

    background-color: #1a1a1a;
    color: #fff;
    border: 1px solid rgb(255, 222, 33);
    height: 35px;
    padding: 15px 15px;
    box-sizing: border-box;
    border-radius: 5px;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.input-massa::-webkit-inner-spin-button,
.input-massa::-webkit-outer-spin-button {
    display: none;
}

.label-massa {
    font-size: 25px;
    display: flex;
    gap: 100px;
    margin-top: 25px;
}

.select-massa {
    font-size: 30px;
    display: flex;
    gap: 10px;
}

.massa-origem {
    background-color: #1a1a1a;
    color: #fff;
    border: 1px solid rgb(255, 222, 33);
    height: 40px;
    padding: 6px 10px;
    box-sizing: border-box;
    border-radius: 5px;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.massa-destino {
    background-color: #1a1a1a;
    color: #fff;
    border: 1px solid rgb(255, 222, 33);
    height: 40px;
    padding: 6px 10px;
    box-sizing: border-box;
        border-radius: 5px;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}


.botaoconverter2 {
    display: block;
    background-color: rgb(255, 222, 33);
    color: rgb(255, 255, 255);
    padding: 13px 30px;
    font-size: 15px;
    margin: auto;
    margin-top: 40px;
    border: none;
    border-radius: 8px;

}

.botaoconverter2:hover{

    background-color:rgb(129, 129, 129);
}

.divresultado-massa {
    margin-top: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#resultado-massa {
    font-size: 25px;
    margin: 0;
}
#simbolo-resultado-massa {
    position: relative;
    top: -10px;
}


@media (max-width: 768px) {
    .input-temperatura,
    .input-medida,
    .input-massa {
        width: 90%; /* ocupa quase tudo */
    }
}


.rodape {
    width: 100%;
    background-color: #111;
    color: #fff;
    border-top: 1px solid rgb(255, 222, 33);
    padding: 20px;
    text-align: center;
}

.rodape-img {
    max-width: 100%; /* nunca ultrapassa a largura do rodapé */
    height: auto;    /* mantém a proporção original */
    display: block;
    margin: 0 auto 10px auto; /* centraliza a imagem */
}

/* ajuste fino para celulares */
@media (max-width: 768px) {
    .rodape-img {
        width: 90%; /* ocupa quase toda a largura da tela no celular */
        height: auto;
    }

    .rodape p {
        font-size: 13px; /* texto menor no celular */
    }
}
