body {
    background-color: #313131;
    color: white;
}

nav ul {
    list-style: none;
    margin: 0; 
    padding: 0;
    width: 100px;
    display: flex;

    }
nav ul li {
    list-style-type: none;
    margin-left: 5px;
    font-size: 25px;
    }

nav ul li a {
    display: block;
    text-decoration: none;
    color: #fff;
    background-color: rgb(255, 222, 33);
    padding: 5px;
    margin-bottom: 1px;
    }

nav ul li a:hover{
    background-color: rgb(129, 129, 129);
    }

.titulo {
    text-align: center;
    font-size: 50px;
}

.texto-intro{
    font-size: 18px;
}

.linha-sepa1 {
    width: 100%;
    height: 1px;
    background-color: rgb(255, 222, 33);
    margin: 30px auto;
}

.quadro-geral1 {
    display: flex;
    justify-content: flex-start;
    margin-left: 120px;
    margin-top: 50px;
    transform: scale(1.2);
    margin-bottom: 60px;
}

.quadro-temperatura {
    background-color: #575757;
    width: 100%;
    max-width: 200px;
    height: 200px;
    padding: 25px;
    border: 2px solid rgb(255, 222, 33);
}

.insira-temperatura {
    display: block;
    margin-bottom: 5px;
}

.converte-em{
    display: block;
    margin-top: 20px;
}

.input-temperatura {
    width: 100px;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

.input-temperatura::-webkit-inner-spin-button,
.input-temperatura::-webkit-outer-spin-button {
    display: none;
}

.temperatura-destino {
    display: block;
    margin-top: 5px;
    margin-bottom: 15px;
}

.botaoconverter {
    display: block;
    background-color: rgb(255, 222, 33);
    color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 15px;
    margin: auto;
    margin-top: 30px;
    border: none;

}

.botaoconverter:hover{

    background-color:rgb(129, 129, 129);
}

.quadro-resultado {
    background-color: rgb(255, 222, 33);
    width: 100%;
    max-width: 203px;
    height: 204px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 24px;
}

#resultado {
    font-size: 35px;
    margin: 0;
    font-weight: bold;
}
#simbolo-resultado {
    font-weight: bold;
    position: relative;
    top: -10px;
}

.linha-sepa2 {
    width: 100%;
    height: 1px;
    background-color: rgb(255, 222, 33);
    margin: 30px auto;
    margin-bottom: 10px;
}


.quadro-geral2 {
    display: flex;
    justify-content: flex-start;
    margin-left: 120px;
    margin-top: 50px;
    transform: scale(1.2);
    margin-bottom: 60px;
}

.quadro-medidaori {
    background-color: #575757;
    width: 100%;
    max-width: 200px;
    height: 200px;
    padding: 25px;
    border: 2px solid rgb(255, 222, 33);
}

.insira-medida {
    display: block;
    margin-bottom: 5px;
}

.converte-em-medida{
    display: block;
    margin-top: 20px;
}

.input-medida {
    width: 100px;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

.input-medida::-webkit-inner-spin-button,
.input-medida::-webkit-outer-spin-button {
    display: none;
}

.medida-destino {
    display: block;
    margin-top: 5px;
    margin-bottom: 15px;
}

.botaoconverter1 {
    display: block;
    background-color: rgb(255, 222, 33);
    color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 15px;
    margin: auto;
    margin-top: 30px;
    border: none;

}

.botaoconverter1:hover{

    background-color:rgb(129, 129, 129);
}

.quadro-resultadomedida {
    background-color: rgb(255, 222, 33);
    width: 100%;
    max-width: 203px;
    height: 204px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 24px;
}

#resultado-medida {
    font-size: 35px;
    margin: 0;
    font-weight: bold;
}
#simbolo-resultado-medida {
    font-weight: bold;
    position: relative;
    top: -10px;
}

.linha-sepa3 {
    width: 100%;
    height: 1px;
    background-color: rgb(255, 222, 33);
    margin: 50px auto;
    margin-bottom: 10px;
}



.quadro-geral3 {
    display: flex;
    justify-content: flex-start;
    margin-left: 120px;
    margin-top: 50px;
    transform: scale(1.2);
    margin-bottom: 60px;
}

.quadro-massaori {
    background-color: #575757;
    width: 100%;
    max-width: 200px;
    height: 200px;
    padding: 25px;
    border: 2px solid rgb(255, 222, 33);
}

.insira-massa {
    display: block;
    margin-bottom: 5px;
}

.converte-em-massa{
    display: block;
    margin-top: 20px;
}

.input-massa {
    width: 100px;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

.input-massa::-webkit-inner-spin-button,
.input-massa::-webkit-outer-spin-button {
    display: none;
}

.massa-destino {
    display: block;
    margin-top: 5px;
    margin-bottom: 15px;
}

.botaoconverter2 {
    display: block;
    background-color: rgb(255, 222, 33);
    color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 15px;
    margin: auto;
    margin-top: 30px;
    border: none;

}

.botaoconverter2:hover{

    background-color:rgb(129, 129, 129);
}

.quadro-resultadomassa {
    background-color: rgb(255, 222, 33);
    width: 100%;
    max-width: 203px;
    height: 204px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 24px;
}

#resultado-massa {
    font-size: 35px;
    margin: 0;
    font-weight: bold;
}
#simbolo-resultado-massa {
    font-weight: bold;
    position: relative;
    top: -10px;
}

.linha-sepa4 {
    width: 100%;
    height: 1px;
    background-color: rgb(255, 222, 33);
    margin: 50px auto;
    margin-bottom: 10px;
}
